*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Goudy Bookletter 1911', serif;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    background: rgb(236, 240, 230);
    box-shadow: 3px 3px 3px 0 #000000;
}
h1{
    color:  rgb(38, 129, 38);
}

nav li{
    display: inline;
   
}
li a {
    text-decoration: none;
    color: rgb(38, 129, 38);
    font-size: 1.2em;
}

li a:hover{
    color:  rgb(192, 183, 103);
} 

/* Sessão 1 */
section {
    width: 100%;
    max-width: 940px;
    margin: 10px auto;
    
}
section h2 {
    margin-top: 120px;
    text-align: center;
    font-size: 3em;
    color:rgb(38, 129, 38) ;
}
section .p-principal{
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
}
section .botao {
    width: 250px;
    height: 60px;
    margin: 20px auto;
    border-radius: 5px;
    background: rgb(197, 226, 154) ;
}
section .botao:hover {
    background: rgb(38, 129, 38);
    opacity: 0.5;
}
section .botao a{ 
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 1.2em;
}
/*
section .img-banner {
    width: 940px;
    display: block;
    margin: 0 auto;
}
*/

/* sessoes de atualizaçoes*/

section h3 {
    text-align: center;
    margin: 40px 0 auto;
    font-size: 1.5em;
    color:rgb(38, 129, 38) ;

}

.caixa-img {
    width: 100%;
    /*max-width: 940px;*/
    margin: 20px auto;

}
.caixa-img .pedidos {

    width: 30.3%;
    max-width: 300px;
    display: inline-block;
    margin: 12px ;
    vertical-align: top;
}

.pedidos p {
    padding: 3px;
}
.pedidos p a{
    text-decoration: none;
    color: rgb(38, 129, 38) ;   
}
.pedidos a:hover{
    color: rgb(197, 226, 154);
    text-decoration: underline;
}
.fazer-pedido{
    display: block;
    margin-top: 25px;
}
.caixa-img .img-atualizacoes {
    width: 285px;
}
@media (min-width: 360px){

    h1 {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    section h2 {
        font-size: 1.5em;
    }
    section .p-principal{
        margin-top: 5px;
        font-size: 1em;
    }
    section .botao {
        width: 170px;
        height: 50px;
        margin: 20px auto;
        border-radius: 5px;
        background: rgb(197, 226, 154) ;
    }
    section .botao a{ 
        padding: 15px;
        font-size: 1em;
    }
    .img-banner {
        width: 100%;
        padding: 10px;
    }

    /*Atualizações*/
    .caixa-img .img-atualizacoes {
        width: 180px;
        
    }
}
/*Menu*/

.menu-produtos{
    width: 940px;
   /* background: green;*/
    margin-top: 15px;
}
.menu-produtos .produtos{
    display: inline-block;
   /* background: #000000;*/
    width: 200px;
    height: 210px;
    margin: 5px 15px;
    border: 2px solid rgb(38, 129, 38);
    border-radius: 5px;

}
.menu-produtos .produtos img{
    width: 198px;
    padding: 10px;
}
.produtos .botao-menu {
    width: 150px;
    height: 30px;
    background: rgb(197, 226, 154) ;
    margin: 10px auto ;
    border-radius: 5px;
}
.produtos a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    color: white;
}
.produtos a:hover{
    background: rgb(38, 129, 38);
    opacity: 0.5;
}
/* depoimentos*/
form{
    margin: 20px 0;
}
form label {
    display: block;
    font-size: 1.2em;
    margin: 10px 0;
}
.input-padrao {
    display: block;
    margin : 0 0 20px;
    width: 50%;
    padding: 8px;
}
.botao-formulario {
    margin-left: 120px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background: rgb(197,226,154) ;
    transition: 1s;
}
.botao-formulario:hover {
    width: 220px;
    height: 55px;
}
.botao-formulario a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: 0.5s;
}
.botao-formulario a:hover{
    font-size: 1.8em;
}
.botao-formulario:hover{
    background: rgb(38, 129, 38);
    opacity: 0.5;
}

/*Footer*/

footer{

    width: 100%;
    height: 150px;
    background: rgb(236, 240, 230);
    margin-top: 10px;
    text-align: center;
    padding: 2em;
    color: rgb(38, 129, 38);
}